body {
    font-family: Arial;
    background: #f2f2f2;
}

.box {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
}

button {
    background: #ff9800;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
